:root {
    --spotify-green: #1DB954;
    --spotify-black: #121212;
    --spotify-dark-gray: #212121;
    --spotify-gray: #535353;
    --spotify-bright-gray: #b3b3b3;
}

body {
    background-color: var(--spotify-black);
}

.wrapper {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.loginContainer,
.updateContainer {
    padding: 50px;
    width: 80%;
    max-width: 500px;
    border: 1px solid var(--spotify-black);
    border-radius: 10px;
    background-color: var(--spotify-dark-gray);
    color: var(--spotify-bright-gray);
    text-align: center;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.4);
}

.updateContainer {
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    color: var(--spotify-dark-gray);
    text-align: center;
    margin-bottom: 20px;
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
    background-color: white;
}

input[type="submit"] {
    width: 50%;
    height: 30px;
    -ms-transform: translateX(50%);
    transform: translateX(50%);
    background-color: var(--spotify-green);
    color: white;
    border: none;
    border-radius: 20px;
    margin-bottom: 10px;
}