:root {
    --spotify-green: #1DB954;
    --spotify-black: #121212;
    --spotify-dark-gray: #212121;
    --spotify-gray: #535353;
    --spotify-bright-gray: #b3b3b3;
    --red: rgb(226,34,94);

    --spacing: 15px;

    background-color: var(--spotify-dark-gray);
}

html, body {
    height: 100%;
    min-height: 100%;
    background-color: var(--spotify-dark-gray);
    font-weight: 300;
}



* {
    outline: none !important;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

h1 {
    color: var(--spotify-bright-gray);
    font-size: 19px;
    font-weight: 800;
    margin: 0;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    background-color: var(--spotify-dark-gray);
}

nav a {
    opacity: 60%;
    color: var(--spotify-gray);
    padding: 10px;
    font-size: 30px;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a:hover {
    opacity: 100%;
    color: var(--spotify-gray);
}

nav a.logo {
    opacity: 80%;
    color: var(--spotify-green);
}

nav a.logo:hover {
    opacity: 100%;
    color: var(--spotify-green)
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.wrapper > .row {
    margin: 0;
    height: 100%;
}

button {
    background-color: transparent;
    border: none;
    color: white;
}

.mainSectionContainer {
    padding: 0;
    border-left: 1px solid var(--spotify-gray);
    border-right: 1px solid var(--spotify-gray);
    display: flex;
    flex-direction: column;
    background-color: var(--spotify-dark-gray);
}

.titleContainer {
    height: 53px;
    padding: 0 var(--spacing);
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--spotify-gray);
    flex-shrink: 0;
}

.titleContainer h1 {
    flex: 1;
}

.postFormContainer {
    height: 150px;
    display: flex;
    padding: var(--spacing);
    border-bottom: 5px solid var(--spotify-gray);
    flex-shrink: 0;
}

.modal {
    border: none;
}

.modal-header {
    border-color: var(--spotify-gray);
}

.modal-footer {
    border-color: var(--spotify-gray);
}

.modal .post {
    padding: 0 0 var(--spacing) 0;
}

.modal-content {
    background-color: var(--spotify-dark-gray);
    color: white;
}

.modal .postFormContainer {
    border: none;
    padding: 0;
    padding-top: var(--spacing)
}

#submitCommentButton {
    width: 150px;
    border: none;
    border-radius: 30px;
    background-color: var(--spotify-green);
}

#submitCommentButton:hover {
    opacity: 60%;
}

#closeModalButton {
    width: 70px;
    border: none;
    border-radius: 30px;
    background-color: var(--spotify-gray);
}

#closeModalButton:hover {
    opacity: 60%;
}

.userImageContainer {
    width: 50px;
    height: 50px;
}

.userImageContainer img {
    width: 100%;
    border-radius: 50%;
    background-color: var(--spotify-dark-gray);
}

.textareaContainer {
    flex: 1;
    padding-left: var(--spacing);
}

.textareaContainer textarea {
    color: var(--spotify-bright-gray);
    width: 100%;
    border: none;
    resize: none;
    font-size: 19px;
    background-color: var(--spotify-dark-gray);
}

#submitPostButton, #deletePostButton {
    background-color: var(--spotify-green);
    color: white;
    border: none;
    border-radius: 40px;
    padding: 7px 15px;
}

#deletePostMark {
    color: white;
    font-size: 10px;
}

#submitPostButton:disabled {
    background-color: var(--spotify-gray);
}

.post {
    opacity: 70%;
    display: flex;
    flex-direction: column;
    padding: var(--spacing);
    cursor: pointer;
    border-bottom: 1px solid var(--spotify-gray);
    flex-shrink: 0;
}

.post:hover {
    opacity: 100%;
    border-color: var(--spotify-gray);
}

.post.postFocus {
    opacity: 100%;
    background-color: var(--spotify-dark-gray);
    border: 1px solid var(--spotify-bright-gray);
}

.post.postFocus .postBody,
.post.postFocus .postFooter {
    font-size: 18px;
}

button i,
button span {
    pointer-events: none;
}

.mainContentContainer {
    flex: 1;
    display: flex;
}

.postContentContainer {
    padding-left: var(--spacing);
    display: flex;
    flex-direction: column;
    flex: 1;
}

.postBody {
    color: var(--spotify-bright-gray);
}

.postContentContainer .postHeader {
    display: flex;
}

.postContentContainer .date {
    flex: 1;
    text-align: right;
    margin-right: 10px;
    color: var(--spotify-bright-gray);
    font-weight: lighter;
    padding-left: 5px;
}

.username {
    color:var(--spotify-gray);
}

.username:hover {
    cursor: pointer;
    color:var(--spotify-green);
}

.displayName {
    font-size: 25px;
    flex: 1;
}

.sender {
    color: white;
    margin-right: 10px;
}

.postFooter {
    display: flex;
    align-items: center;
}

.postFooter .postButtonContainer {
    flex: 1;
    display: flex;
}

.postFooter .postButtonContainer button {
    padding: 0 5px;
}

.postButtonContainer button:hover {
    color: var(--spotify-green);
}

.postButtonContainer.like button.active {
    color: var(--red)
}

.postButtonContainer.share button.active {
    color: var(--spotify-green)
}

.postActionContainer {
    padding-left: 65px;
    font-size: 13px;
    color: var(--spotify-gray);
    margin-bottom: 5px;
}

.postActionContainer a:hover {
    color: var(--spotify-green)
}

.replyIndicator {
    font-size: 13px;
    color: white;
    margin-bottom: 5px;
}

.replyIndicator a {
    color: var(--spotify-gray);
}

.replyIndicator a:hover {
    color: var(--spotify-green);
}

.errorMessage {
    color: var(--spotify-bright-gray);
    padding: var(--spacing);
}

.profileHeaderContainer .coverPhotoSection {
    height: 180px;
    background-color: var(--spotify-green);
    position: relative;
}

.profileHeaderContainer .userImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 132px;
    width: 132px;
    margin-left: var(--spacing);
    position: absolute;
    bottom: -66px;
}

.profileHeaderContainer .userImageContainer img{
    border: 4px solid var(--spotify-dark-gray);
}

.profileHeaderContainer .profileButtonsContainer {
    text-align: right;
    padding: var(--spacing);
    min-height: 66px;
}

.profileButton {
    border: 1px solid var(--spotify-gray);
    color: var(--spotify-gray);
    font-size: 16px;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 60px;
    display: inline-block;
    margin-left: var(--spacing);
}

.followButton.following {
    background-color: var(--spotify-green);
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 60px;
    display: inline-block;
    margin-left: var(--spacing);
}

.profileButton:hover {
    color: white;
    background-color: var(--spotify-green);
}

.followButton {
    opacity: 90%;
    background-color: var(--spotify-green);
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 60px;
    display: inline-block;
    margin-left: var(--spacing);
}

.followButton.following {
    opacity: 90%;
    background-color: var(--red);
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 60px;
    display: inline-block;
    margin-left: var(--spacing);
}

.followButton:hover {
    opacity: 100%;
}

.profileHeaderContainer .userDetailsContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 var(--spacing);
    color: var(--spotify-bright-gray);
}

.followersContainer .value {
    font-weight: bold;
    margin-right: 5px;
}

.followersContainer a:hover {
    border-bottom: 1px solid var(--spotify-bright-gray);
}

.followingContainer .value {
    font-weight: bold;
    margin-right: 5px;
}

.followingContainer a:hover {
    border-bottom: 1px solid var(--spotify-bright-gray);
}

.tabsContainer {
    display: flex;
    border-bottom: 1px solid var(--spotify-gray);
    flex-shrink: 0;
}

.tab {
    flex: 1;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--spotify-bright-gray);
    font-weight: bold;
}

.tab.active {
    color: var(--spotify-green);
    border-bottom: 2px solid var(--spotify-green);
}

.tab:hover {
    color: var(--spotify-green);
}

.noResults {
    color: var(--spotify-gray);
    padding-left: 10px;
}

.resultsContainer {
    display: flex;
    flex-direction: column;
}

.resultsContainer .user {
    padding: var(--spacing);
    display: flex;
    border-bottom: 1px solid var(--spotify-gray)
}

.user .userDetailsContainer {
    flex: 1;
    padding: 0 var(--spacing);
}

.profilePictureButton,
.coverPhotoButton {
    position: absolute;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.3);
    display: none;
}

.userImageContainer:hover .profilePictureButton {
    display: block;
}

.coverPhotoContainer:hover .coverPhotoButton {
    display: block;
}

.coverPhotoButton:hover,
.profilePictureButton:hover {
    color: rgba(255, 255, 255, 0.8);
}

.coverPhotoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.coverPhotoContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#imagePreview,
#coverPreview {
    display: block; 
    width: 100%;
    max-width: 100%;
}

.pinPostButton.active {
    color: var(--spotify-green);
}

.pinnedPostLabel {
    font-size: 12px;
    color: var(--spotify-gray);
}

.pinnedPostContainer {
    border-bottom: 5px solid var(--spotify-gray);
}

.searchBarContainer {
    position: relative;
    color: var(--spotify-gray);
    padding: 10px var(--spacing);
}

.searchBarContainer i {
    position: absolute;
    top: 20px;
    left: 28px;
}

.searchBarContainer #searchInput {
    height: 36px;
    width: 100%;
    padding: 5px 15px 5px 40px;
    border-radius: 50px;
    background-color: var(--spotify-black);
    border: none;
    color: var(--spotify-bright-gray)
}

#newMessageButton {
    opacity: 80%;
    font-size: 18px;
    color: var(--spotify-green);
}

#newMessageButton:hover {
    opacity: 100%;
}

.chatPageContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 0;
    flex: 1;
}

.chatTitleBar {
    border-bottom: 1px solid var(--spotify-gray);
    display: flex;
    align-items: center;
    min-height: 60px;
    padding: 10px;
}

.chatTitleBar label {
    color: var(--spotify-gray);
    margin-right: 10px;
}

#userSearchTextbox {
    border: none;
    flex: 1;
    font-weight: 200px;
    min-width: 150px;
    background-color: var(--spotify-dark-gray);
    color: var(--spotify-bright-gray);
}

#createChatButton {
    border: none;
    background-color: var(--spotify-green);
    color: white;
    padding: 7px 20px;
    margin: 10px auto;
    border-radius: 40px;
    opacity: 90%;
}

#createChatButton:hover {
    opacity: 100%;
}

#createChatButton:disabled {
    opacity: 100%;
    background-color: var(--spotify-gray);
    color: var(--spotify-bright-gray)
}

.selectedUser {
    border: 1px solid var(--spotify-gray);
    border-radius: 5px;
    margin: 3px;
    font-weight: 300;
    color: var(--spotify-green);
    padding: 2px 5px;
    display: inline-block;
}

.resultListItem {
    opacity: 80%;
    padding: 7px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    border-bottom: 1px solid var(--spotify-gray)
}

.resultListItem img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.resultListItem:hover {
    opacity: 100%;
}

.resultsDetailsContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.resultsDetailsContainer .heading {
    color: white;
    font-weight: 500;
}

.resultsDetailsContainer .subText {
    color: var(--spotify-bright-gray);
    font-size: 14px;
}

.resultsImageContainer {
    height: 40px;
    width: 40px;
    position: relative;
    margin-right: 10px;
    display: flex;
    align-items: center;
    padding: 5px;
}

.groupChatImage img {
    height: 65%;
    width: 65%;
    position: absolute;
    bottom: 0;
    margin: 0;
    border: 3px solid var(--spotify-dark-gray)
}

.groupChatImage img:first-of-type {
    top: 0;
    right: 0;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.messageTitleBarContainer {
    border-bottom: 1px solid var(--spotify-gray);
    display: flex;
    align-items: center;
    padding: var(--spacing)
}

#messageName {
    color: var(--spotify-bright-gray);
    width: 100%;
    border: 1px solid transparent;
    padding: 0 5px;
}

#messageName:hover {
    border: 1px solid var(--spotify-gray);
    cursor: text;
}

.messageContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.messageContainer .footer{
    display: flex;
    padding: var(--spacing);
    flex-shrink: 0;
}

.messageContainer .footer textarea {
    color: var(--spotify-bright-gray);
    flex: 1;
    resize: none;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 18px;
    border: none;
    padding: 8px 20px;;
    height: 38px;
    overflow-y: hidden;
}

.messageContainer .footer button {
    opacity: 80%;
    background-color: transparent;
    color: var(--spotify-green);
    font-size: 24px;
}

.messageContainer .footer button:hover {
    opacity: 100%;
}

.chatMessages {
    flex: 1;
    flex-direction: column;
    padding: var(--spacing);
    display: flex;
    overflow-y: auto;
}

.messageImagesContainer {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    margin-right: 10px;
}

.messageImagesContainer img {
    width: 40px;
    height: 40px;
    border: 3px solid var(--spotify-dark-gray);
    border-radius: 50%;
}

.messageImagesContainer .userCount {
    color: white;
    height: 40px;
    width: 40px;
    background-color: var(--spotify-gray);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border: 2px solid var(--spotify-dark-gray);
}

.messageImagesContainer img:not(:last-child),
.messageImagesContainer .userCount {
    margin-left: -10px;
}

#firstName, #lastName, #username, #email{
    color: var(--spotify-bright-gray);
    width: 90%;
    background-color: var(--spotify-dark-gray);
    border: none;
    border-bottom: 1px solid var(--spotify-gray);
    margin-bottom: 20px;
    flex: 2;
}

.updateContainer .hideButton {
    font-size: 14px;
    margin-bottom: 10px;
    color: var(--spotify-gray);
    width: 10%;
    flex: 2;
}

.updateContainer .hideButton:hover {
    cursor: pointer;
    color: var(--spotify-green);
    font-size: 14px;
}

#logoutWarning {
    text-align: center;
    justify-content: center;
    font-size: 8;
    color: var(--red);
}