mixin createPostForm(userLoggedIn)
    .postFormContainer
        .userImageContainer
            img(src=userLoggedIn.profilePicture, alt="Profile picture")
        .textareaContainer
            textarea#postTextarea(placeholder="What's jammin'?")
            .buttonsContainer
                button#submitPostButton(disabled="") Post

mixin createCommentModal(userLoggedIn)
    #commentModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="commentModalLabel", aria-hidden="true")
        .modal-dialog(role="document")
            .modal-content
                .modal-header
                    h5#commentModalLabel.modal-title Comment
                    button.close(type="button", data-dismiss="modal", aria-label="Close")
                        span(aria-hidden="true") &times;
                .modal-body
                    | ...
                .modal-footer
                    button.btn.btn-secondary(type="button", data-dismiss="modal") Close
                    button#submitCommentButton.btn.btn-primary(type="button", disabled="") Send